html, body {
    height: 100%;
    margin: 0;
}
  
body {
    position: relative;
    padding-bottom: 50px; /* Adjust this value as needed to accommodate the footer height */
}
  
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px; /* Adjust this value as needed for the footer height */
}
a {
    text-decoration: none;
    color: white;
}
.table-row {
    align-items: center;
    vertical-align: baseline;
}
button, input[type="text"] {
    box-shadow: 3px 3px 8px black;  
}