<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Dariusz Larsen">    
    <title>Employee Application</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>

<body>
<div >
<header>
    <h1>New Employee</h1>
</header>
</div>

<form class="row g-3" method="post" action="/employee/new">
  <div class="col-md-4">
    <label for="first_name" class="form-label">First name</label>
    <input type="text" class="form-control is-valid" name="first_name" id="first_name" value="Mark" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="last_name" class="form-label">Last name</label>
    <input type="text" class="form-control is-valid" name="last_name" id="last_name" value="Mark" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="pesel" class="form-label">Address</label>
    <textarea type="text" class="form-control is-valid" name="pesel" id="pesel" value="75061905155" required></textarea>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="pesel" class="form-label">PESEL</label>
    <input type="text" class="form-control is-valid" name="pesel" id="pesel" value="75061905155" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
<div >

 <p id="footerr">for IWQ</p>

</div>
</body>
</html>
